.autocomplete-items {
    
}
.autocomplete-items div {
	
}
.autocomplete-items div:hover {
	
}

.accordion {

}

.search-dropdown {
    text-align: left;
}

/* SIDEBAR */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#content {
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 280px);
}

#content.active {
    width: calc(100% - 100px);
}

#sidebar {
    min-width: 280px;
    max-width: 280px;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 8px 0px 16px rgba(0, 0, 0, 0.4);
    transition: all 0.3s;
}

#sidebar.active {
    min-width: 110px;
    max-width: 110px;
    text-align: center;
}

#sidebar #close-menu-icon {
    display: block;
}
#sidebar #open-menu-icon {
    display: none;
}

#sidebar.active #close-menu-icon {
    display: none;
}
#sidebar.active #open-menu-icon {
    display: block;
}

/* Toggling the sidebar header content, hide the big heading [h3] and showing the small heading [strong] and vice versa*/
#sidebar .sidebar-header strong {
    display: none;
}
#sidebar.active .sidebar-header a {
    display: none;
}
#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li.nav-item a {
    text-align: left;
}

#sidebar.active ul li.nav-item a {
    padding: 16px 4px;
    font-size: 0.8em;
    text-align: center;
}

/* Same dropdown links padding*/
#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar ul li a svg {
    margin: 0;
    margin-right: 4px;
}
#sidebar.active ul li a svg {
    margin: 4px;
}

/* Changing the arrow position to bottom center position, 
   translateX(50%) works with right: 50% 
   to accurately  center the arrow */
#sidebar.active .dropdown-toggle {
    white-space: inherit;
}
#sidebar.active .dropdown-toggle::after {
    position: absolute;
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

@media (max-width: 768px) {
    .sidebar-collapse-btn {
        display: none;
    }

    #sidebar {
        min-width: 110px;
        max-width: 110px;
        text-align: center;
    }

    #sidebar .sidebar-header h3 {
        display: none;
    }
    #sidebar .sidebar-header strong {
        display: block;
    }

    /* Downsize the navigation links font size */
    #sidebar ul li.nav-item a {
        padding: 16px 4px;
        font-size: 0.8em;
        text-align: center;
    }

    #sidebar.active ul li.nav-item a svg {
        margin: 4px;
    }

    /* Changing the arrow position to bottom center position, 
      translateX(50%) works with right: 50% 
      to accurately  center the arrow */
    .dropdown-toggle {
        white-space: inherit;
    }
    .dropdown-toggle::after {
        position: absolute;
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
}