{% extends "base.html" %}
{% block title %} Browse {% endblock %}
{% block head %} {{ super() }} {% endblock %}

{% block content %}

<div class="container text-center mx-auto mt-5">


    <!--form id="search-form" method="post" role="form">
        {{ form.csrf_token }}
        <div class="row align-items-center m-2">
            <div class="col-1">
                {{ form.sort_rating.label(class_="h5 m-0") }}
            </div>
            <div class="col">
                {{ form.sort_rating(class_="btn btn-lg btn-outline-primary rounded-pill dropdown-toggle search-dropdown") }}
            </div>
            <div class="col">
                {{ form.submit_search(class_="form-control btn btn-lg btn-primary rounded-pill") }}
            </div>
        </div>

        <div class="accordion" id="search-accordion">
            <div class="accordion-item">
                <h2 class="accordion-header" id="accordion-heading-one">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-one" aria-expanded="false" aria-controls="accordion-one">
                    <strong>More Filter Options...</strong>
                    </button>
                </h2>
                <div id="accordion-one" class="accordion-collapse collapse" aria-labelledby="accordion-heading-one" data-bs-parent="#search-accordion">
                    <div class="accordion-body">
                        {{ form.search_text(class_="form-control") }}
                        {{ form.search_cuisine(class_="form-control") }}

                        {% if userinfo != None %}
                            <div class="input-group mb-3">
                                <div class="input-group-text">
                                    {{ form.search_my_ingredients(class_="form-check-input mt-0") }}
                                </div>
                                {{ form.search_my_ingredients.label(class_="form-control") }}
                                Recipes filtered will only contain ingredients that are currently in your inventory. Click <a href="/ingredients">here</a> to update your inventory.

                                <div class="input-group-text">
                                    {{ form.search_show_private(class_="form-check-input mt-0") }}
                                </div>
                                {{ form.search_show_private.label(class_="form-control") }}
                                Recipes filtered will include recipes that have been marked as private (that you have access to), on top of public recipes.
                            </div>
                        {% endif %}
                          
                        {% for tag in search_tags %}
                            {{ form.tag() }}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>    
    </form-->
    
</div>

{% endblock %}