{% extends "base.html" %}
{% block title %} Browse {% endblock %}
{% block head %} {{ super() }} {% endblock %}

{% block content %}

<div class="container text-center mx-auto mt-5">

    <!-- Form for filtering results -->
    <form id="browse-recipe-form" method="post" role="form">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.search_text(class_="form-control form-control-lg rounded-pill") }}
        </div>
        <p class="my-3">...or use any of the filter options below:</p>
        <div class="accordion" id="search-recipe-accordion">
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading-zero">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-zero" aria-expanded="false" aria-controls="accordion-zero">
                    <strong>Autocomplete Filter Fields</strong>
                    </button>
                </h2>
                <div id="accordion-zero" class="accordion-collapse collapse" aria-labelledby="heading-zero">
                    <div class="accordion-body">
                        <div class="row justify-content-center align-items-center">
                            <div class="col-3 text-end">
                                {{ form.search_creator.label }}
                            </div>
                            <div class="col-5 autocomplete">
                                {{ form.search_creator(class_="form-control form-control-lg rounded-pill my-2 mx-auto", id="creator-input") }}
                            </div>
                        </div>
                        <div class="row justify-content-center align-items-center">
                            <div class="col-3 text-end">
                                {{ form.search_ingredient.label }}
                            </div>
                            <div class="col-5 autocomplete">
                                {{ form.search_ingredient(class_="form-control form-control-lg rounded-pill my-2 mx-auto", id="ingredient-input") }}
                            </div>
                        </div>
                        <p class="mt-2">If you cannot find someone's username, try checking whether they have updated their username!</p>
                    </div>
                </div>
            </div>
            <script src="{{url_for('static',filename='js/autocomplete.js')}}"></script>
            <script>
                autocomplete(document.getElementById("creator-input"), {{ creator_usernames|tojson }});
                autocomplete(document.getElementById("ingredient-input"), {{ ingredient_names|tojson }});
            </script>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading-one">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-one" aria-expanded="false" aria-controls="accordion-one">
                    <strong>Cuisine</strong>
                    </button>
                </h2>
                <div id="accordion-one" class="accordion-collapse collapse" aria-labelledby="heading-one">
                    <div class="accordion-body">
                        Filter recipes from ANY of your selected cuisines! You may select more than one option.
                        <br>
                        If you do not select any cuisines, recipes from all cuisines will be displayed.
                        
                        <div class="form-group mx-3 mt-2">
                            {% for choice in form.search_cuisine %}
                                {{ choice(class_="btn-check") }}
                                {{ choice.label(class_="btn btn-outline-primary rounded-pill m-1") }}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading-two">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-two" aria-expanded="false" aria-controls="accordion-two">
                    <strong>Dietary Requirements / Preferences</strong>
                    </button>
                </h2>
                <div id="accordion-two" class="accordion-collapse collapse" aria-labelledby="heading-two">
                    <div class="accordion-body">
                        Filter recipes that satisfy ALL of your dietary requirements! You may select more than one option.

                        <div class="form-group mx-3 mt-2">
                            {% for choice in form.search_dietary %}
                                {{ choice(class_="btn-check") }}
                                {{ choice.label(class_="btn btn-outline-primary rounded-pill m-1") }}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% if 'loggedin' in session %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading-three">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-three" aria-expanded="false" aria-controls="accordion-three">
                    <strong>Other Filter Options</strong>
                    </button>
                </h2>
                <div id="accordion-three" class="accordion-collapse collapse" aria-labelledby="heading-three">
                    <div class="accordion-body">
                        <div class="col">
                            <div class="row align-items-center">
                                <div class="col-3">
                                    <div class="input-group">
                                        <div class="input-group-text input-group-checkbox">
                                            {{ form.search_my_ingredients(class_="form-check-input")}}
                                        </div>
                                        {{ form.search_my_ingredients.label(class_="form-control") }}
                                    </div>
                                </div>
                                <div class="col">
                                    Filter by the ingredients that you currently have in your inventory. If you select this filter, the search results displayed will not require any ingredients that are currently outside your inventory.
                                </div>
                            </div>
                            <hr>
                            <div class="row align-items-center">
                                <div class="col-3">
                                    <div class="input-group">
                                        <div class="input-group-text input-group-checkbox">
                                            {{ form.search_bookmarked(class_="form-check-input")}}
                                        </div>
                                        {{ form.search_bookmarked.label(class_="form-control") }}
                                    </div>
                                </div>
                                <div class="col">
                                    Apply all the other filters on only the recipes that you have bookmarked. If you select this filter, recipes you have not bookmarked will not appear in the search results.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading-four">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-four" aria-expanded="false" aria-controls="accordion-four">
                    <strong>Sorting</strong>
                    </button>
                </h2>
                <div id="accordion-four" class="accordion-collapse collapse" aria-labelledby="heading-four">
                    <div class="accordion-body">
                        <div class="row justify-content-center align-items-center">
                            <div class="col-1">
                                {{ form.sort_attribute.label }}
                            </div>
                            <div class="col-4">
                                {{ form.sort_attribute(class_="form-select btn btn-outline-primary rounded-pill browse-dropdown")}}
                            </div>

                            <div class="col-1">
                                {{ form.sort_direction.label }}
                            </div>
                            <div class="col-4">
                                {{ form.sort_direction(class_="form-select btn btn-outline-primary rounded-pill browse-dropdown")}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{ form.submit_search(class_="w-50 my-4 btn btn-lg btn-primary") }}
    </form>

    <nav>
        <ul class="pagination">
            <li class="page-item {{'disabled' if 1 == pageNum else ''}}">
                <a class="page-link" href="{{linkname}}page=1">First</a>
            </li>
            
            {% for page in pages_to_display %}
            <li class="page-item {{'active' if page == pageNum else ''}}">
                <a class="page-link" href="{{linkname}}page={{page}}">{{page}}</a>
            </li>
            {% endfor %}
            
            <li class="page-item {{'disabled' if maxPage == pageNum else ''}}">
                <a class="page-link" href="{{linkname}}page={{maxPage}}">Last</a>
            </li>
        </ul>
    </nav>

    <!-- Search results displayed -->
    <div class="row row-cols-1 row-cols-md-2 m-3 g-4 ">
        {% if recipe_list == None or recipe_list|length == 0 %}
            <div class="col w-100">
                <svg xmlns="http://www.w3.org/2000/svg" width="360" height="360" fill="currentColor" class="bi bi-emoji-frown" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M4.285 12.433a.5.5 0 0 0 .683-.183A3.498 3.498 0 0 1 8 10.5c1.295 0 2.426.703 3.032 1.75a.5.5 0 0 0 .866-.5A4.498 4.498 0 0 0 8 9.5a4.5 4.5 0 0 0-3.898 2.25.5.5 0 0 0 .183.683zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z"/>
                </svg>
                <h4 class="m-5">No results found. Please try searching with different criteria.</h4>
            </div>
        {% else %}
            {% for recipe in recipe_list %}
                <div class="col m-2" style="width: 30%">
                    <div class="card bg-light-subtle" style="min-height: 460px;">
                        <img src="{{ recipe['image'] }}" class="card-img-top" style="height: 200px; object-fit: cover;">
                        <div class="card-body text-start">
                            <h4 class="card-title">
                                {{ recipe['name'] }}
                            </h4>
                            <p class="card-text">
                                <b>Description:</b> {{ recipe['description'] }}<br>
                                {% if recipe['cuisines'] and recipe['cuisines']|length != 0 %}
                                    <b>Cuisines:</b>
                                    {% for cuisine in recipe['cuisines'] %}
                                        <span class="badge bg-primary rounded-pill" >
                                            {{cuisine}}
                                        </span>
                                    {% endfor %}
                                    <br>
                                {% endif %}
                                {% if recipe['tags'] and recipe['tags']|length != 0 %}
                                    <b>Tags:</b>
                                    {% for tag in recipe['tags'] %}
                                        <span class="badge bg-secondary rounded-pill" >
                                            {{tag}}
                                        </span>
                                    {% endfor %}
                                    <br>
                                {% endif %}
                                {% if recipe['duration'] != None %}
                                    <b>Cooking Duration:</b> {% if recipe['duration'] %} {{'%0.1f' % recipe['duration']}} {% else %} N/A {% endif %} hours<br>
                                {% endif %}
                                {% if recipe['difficulty'] == 0 %}
                                    <span class="badge bg-success rounded-pill" >
                                        Beginner
                                    </span>
                                {% elif recipe['difficulty'] == 1 %}
                                    <span class="badge bg-warning rounded-pill text-dark">
                                        Intermediate
                                    </span>
                                {% elif recipe['difficulty'] == 2 %}
                                    <span class="badge bg-danger rounded-pill">
                                        Advanced
                                    </span>
                                {% else %}
                                    <span class="badge bg-dark rounded-pill">
                                        Difficulty Unknown
                                    </span>
                                {% endif %}
                            </p>
                        </div>
                        <a class="card-footer text-end" href="{{url_for('recipe', recipe_id=recipe['id'])}}">
                            View Recipe
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                            </svg>
                        </a>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>

</div>

{% endblock %}