{% extends "base.html" %}
{% block title %} Edit Recipe - {{recipeinfo['recipe_name']}} {% endblock %}
{% block head %} {{ super() }} {% endblock %}

{% block content %}

<div class="container-fluid w-100 d-flex flex-column justify-content-center m-auto w-50">
    <div class="row m-5 justify-content-center">
        <div class="col-9">
            <p>
                <small>(<a href="{{url_for('recipe', recipe_id=recipeinfo['recipe_id'])}}">View recipe</a>)</small>
            </p>

            <h2>Recipe Information</h2>
            Note: Information fields with unsaved changes will appear yellow in colour. Please ensure you click the relevant "Edit" buttons to save your changes. If you do not do so, these changes will not be saved.
            <form class="input-group my-3" onsubmit="editname();return false">
                <input type="text" name="content" value="{{recipeinfo['recipe_name']}}" class="form-control col" placeholder="Insert Recipe Name Here" required id="name-content">
                <button type="submit" class="btn btn-primary col-2" id="edit-name">Edit Name</button>
            </form>
            <form class="input-group my-3" onsubmit="editdesc();return false">
                <textarea name="content" value="{{recipeinfo['recipe_desc']}}" class="form-control col" placeholder="Insert Recipe Description Here" id="desc-content"></textarea>
                <button type="submit" class="btn btn-primary col-2" id="edit-desc">Edit Description</button>
            </form>
            <form class="input-group my-3" onsubmit="editimage();return false">
                <input type="text" name="content" value="{{recipeinfo['recipe_image']}}" class="form-control col" placeholder="Insert Recipe Image URL Here" id="image-content">
                <button type="submit" class="btn btn-primary col-2" id="edit-image">Edit Image</button>
            </form>
            Image preview:
            <img src="{{recipeinfo['recipe_image']}}" class="row w-25 mx-auto mb-3 d-block" id="image-img">

            <form class="input-group my-3" onsubmit="editportions();return false">
                <input type="number" step="1" min="1" max="50" name="content" value="{{recipeinfo['portions']}}" class="form-control col" required id="portions-content">
                <button type="submit" class="btn btn-primary col-2" id="edit-portions">Edit Number of Portions</button>
            </form>

            <form class="input-group my-3" onsubmit="editduration();return false">
                <input type="number" step="0.25" min="0.25" max="168" name="content" value="{{recipeinfo['duration']}}" class="form-control col" required id="duration-content">
                <button type="submit" class="btn btn-primary col-2" id="edit-duration">Edit Cooking Duration (hours)</button>
            </form>

            <form class="input-group my-3" onsubmit="editdifficulty();return false">
                <select name="content" class="form-select col" id="difficulty-content">
                    <option value="0">Beginner</option>
                    <option value="1">Intermediate</option>
                    <option value="2">Advanced</option>
                </select>
                <button type="submit" class="btn btn-primary col-2" id="edit-difficulty">Edit Difficulty</button>
            </form>

            <hr>
            Note: If you make any changes in the sections below, any unsaved changes from the section above will be lost.<br>

            <h2 class="mt-3">Ingredients</h2>

            Note: If you attempt to add an ingredient that is already in the list, the quantity will be <i>replaced</i>, not added.<br>

            <form id="add-ingredient-form" class="input-group my-3" method="post" role="form" autocomplete="off">
                <input type="text" name="ingredient_input" value="" class="form-control col-4 autocomplete" placeholder="Add a Recipe Ingredient (Autocomplete Field)" required id="ingredient-input">
                <input type="text" name="quantity" value="" class="form-control col-4" placeholder="Quantity, e.g. '1 cup'" required id="ingredient-quantity">
                <input type="hidden" name="form_name" value="add-ingredient">
                <button type="submit" class="btn btn-primary col-2">Add to Recipe</button>
            </form>
            <script src="{{url_for('static',filename='js/autocomplete.js')}}"></script>
            <script>
                autocomplete(document.getElementById("ingredient-input"), {{ingredient_names|tojson}});
            </script>
            <table class="table table-hover my-3 mx-auto" id="ingredient-table">
                <thead class="table-dark">
                    <tr>
                        <th scope="col" data-type="string">Ingredient</th>
                        <th scope="col" data-type="string">Quantity</th>
                        <th scope="col" data-type="string">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ingredient in recipeinfo['ingredients'] %}
                        <tr>
                            <td class="align-middle">{{ingredient['ingr_name']}}</td>
                            <td class="align-middle">{{ingredient['quantity']}}</td>
                            <td class="align-middle">
                                <form method="post" role="form">
                                    <input type="hidden" name="form_name" value="delete-ingredient">
                                    <input type="hidden" name="delete_ingredient_id" value="{{ingredient['ingr_id']}}">
                                    <button type="submit" class="btn btn-outline-danger"><i class="bi bi-trash3"></i></button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <hr>
            <h2>Instructions</h2>
            Warning: be careful not to accidentally click the "delete" button; deleted instructions are not recoverable.
            <form id="add-instruction-form" method="post" role="form">
                <div class="row input-group my-3">
                    <span class="input-group-text col-3">
                        Main instruction:
                    </span>
                    <input type="text" name="instruction_title" class="form-control col" required id="instruction-title-input">
                </div>
                <div class="row input-group my-3">
                    <span class="input-group-text col-3">
                        Additional information / notes:
                    </span>
                    <textarea name="instruction_subtitle" class="form-control col" id="instruction-subtitle-input"></textarea>
                </div>
                <input type="hidden" name="form_name" value="add-instruction">
                <button type="submit" class="btn btn-primary my-1" id="add-instruction-submit">Add Instruction</button>
            </form>
            <ol class="list-group list-group-numbered my-3" id="instruction-content">
                {% for instruction in recipeinfo['instructions'] %}
                <li class="list-group-item d-flex justify-content-between align-items-center row">
                    <div class="col mx-2">
                        <div class="fw-bold">{{instruction['title']}}</div>
                        {% if instruction['subtitle'] %} {{instruction['subtitle']}} {% endif %}
                    </div>
                    <div class="col-1 w-auto">
                        <div class="row">
                            <form class="col" method="post" role="form">
                                <input type="hidden" name="form_name" value="up-instruction">
                                <input type="hidden" name="instruction_id" value="{{instruction['instr_id']}}">
                                <button type="submit" class="btn btn-outline-dark" {% if instruction['list_order'] == 1 %} disabled {% endif %}><i class="bi bi-arrow-up"></i></button>
                            </form>
                            <form class="col" method="post" role="form">
                                <input type="hidden" name="form_name" value="down-instruction">
                                <input type="hidden" name="instruction_id" value="{{instruction['instr_id']}}">
                                <button type="submit" class="btn btn-outline-dark" {% if instruction['list_order'] == recipeinfo['instructions']|length %} disabled {% endif %}><i class="bi bi-arrow-down"></i></button>
                            </form>
                            <form class="col" method="post" role="form">
                                <input type="hidden" name="form_name" value="delete-instruction">
                                <input type="hidden" name="instruction_id" value="{{instruction['instr_id']}}">
                                <button type="submit" class="btn btn-outline-danger"><i class="bi bi-trash3"></i></button>
                            </form>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ol>

            <hr>
            <h2>Cuisine Tags</h2>
            Please remember to save your changes by clicking the "Edit" button!
            <form method="post" role="form">
                <div class="form-group mx-auto mt-2">
                    {% for choice in cuisine_form.options %}
                        {% if choice.data in cur_cuisine_ids %}
                            {{ choice(class_="btn-check", checked=True) }}
                            {{ choice.label(class_="btn btn-outline-primary rounded-pill m-1") }}
                        {% else %}
                            {{ choice(class_="btn-check") }}
                            {{ choice.label(class_="btn btn-outline-primary rounded-pill m-1") }}
                        {% endif %}
                    {% endfor %}
                </div>
                {{ cuisine_form.edit_cuisines(class_="btn btn-primary my-3") }}
            </form>
            
        </div>
    </div>

    
    <script>
        $('#name-content, #desc-content, #portions-content, #duration-content, #difficulty-content').change(function() {
            $(this).addClass('unsaved')
        });
        $('#image-content').change(function() {
            $(this).addClass('unsaved')
            $('#image-img').attr('src', $(this).val())
        })
        function editname(){
            params = {
                'target_id': {{recipeinfo['recipe_id']}},
                'name': document.getElementById('name-content').value
            }
            console.log(params)
            $.post('/editrecipe/editname',params).done((response) => {
                if (response.status !== 200){
                    alert(response.error)
                } else {
                    $('#name-content').removeClass('unsaved')
                    document.title = 'Edit Recipe - ' + params['name']
                }
            })
        }
        function editdesc(){
            params = {
                'target_id': {{recipeinfo['recipe_id']}},
                'desc': document.getElementById('desc-content').value
            }
            console.log(params)
            $.post('/editrecipe/editdesc',params).done((response) => {
                if (response.status !== 200){
                    alert(response.error)
                } else {
                    $('#desc-content').removeClass('unsaved')
                }
            })
        }
        function editimage(){
            params = {
                'target_id': {{recipeinfo['recipe_id']}},
                'image': document.getElementById('image-content').value
            }
            console.log(params)
            $.post('/editrecipe/editimage',params).done((response) => {
                if (response.status !== 200){
                    alert(response.error)
                } else {
                    $('#image-content').removeClass('unsaved')
                }
            })
        }
        function editportions(){
            params = {
                'target_id': {{recipeinfo['recipe_id']}},
                'portions': document.getElementById('portions-content').value
            }
            console.log(params)
            $.post('/editrecipe/editportions',params).done((response) => {
                if (response.status !== 200){
                    alert(response.error)
                } else {
                    $('#portions-content').removeClass('unsaved')
                }
            })
        }
        function editduration(){
            params = {
                'target_id': {{recipeinfo['recipe_id']}},
                'duration': document.getElementById('duration-content').value
            }
            console.log(params)
            $.post('/editrecipe/editduration',params).done((response) => {
                if (response.status !== 200){
                    alert(response.error)
                } else {
                    $('#duration-content').removeClass('unsaved')
                }
            })
        }
        function editdifficulty(){
            params = {
                'target_id': {{recipeinfo['recipe_id']}},
                'difficulty': document.getElementById('difficulty-content').value
            }
            console.log(params)
            $.post('/editrecipe/editdifficulty',params).done((response) => {
                if (response.status !== 200){
                    alert(response.error)
                } else {
                    $('#difficulty-content').removeClass('unsaved')
                }
            })
        }
        /*** need to do the enabling disabling? or dont? maybe a modal ***/
        function editinstructions(){
            params = {
                'target_id': {{recipeinfo['recipe_id']}},
                'instructions': 0
            }
            console.log(params)
            $.post('/editrecipe/editinstructions',params).done((response) => {
                if (response.status !== 200){
                    alert(response.error)
                } else {
                    
                }
            })
        }

    </script>    
</div>

{% endblock %}
