{% extends "base.html" %}
{% block title %} Home {% endblock %} <!-- Title goes here -->
{% block head %} {{ super() }} {% endblock %}


{% block content %}

<div class="container-fluid min-vh-100 d-flex flex-column justify-content-center text-center align-items-center my-3 mx-auto w-75" style="box-sizing:border-box;">
    <h1>Welcome to the <img id="app-icon" style="width: 150px;" src="{{url_for('static', filename='app_name_text.png')}}"> App, a (very epic) repository of (very epic) recipes!</h1>

    <img src="{{url_for('static', filename='chef_hat.png')}}" style="width:40%;">

    <div class="row w-100 d-flex flex-row justify-content-center">
        <div class="card w-25 m-3">
            <div class="card-body d-flex flex-column justify-content-center">
                <h5 class="card-title">
                    Create and <a href="/browse">browse</a> recipes by name, cuisine, and many more!
                </h5>
            </div>
        </div>
        <div class="card w-25 m-3">
            <div class="card-body d-flex flex-column justify-content-center">
                <h5 class="card-title">
                    You can even search for recipes based on the ingredients you currently have in your
                    {% if userinfo %}
                    <a href="/inventory">kitchen</a>.
                    {% else %}
                    <a href="#" data-bs-toggle="tooltip" data-bs-title="Log in to access your inventory!">kitchen</a>.
                    {% endif %}
                </h5>
            </div>
        </div>
        <div class="card w-25 m-3">
            <div class="card-body d-flex flex-column justify-content-center">
                <h5 class="card-title">EPICER supports tags to aid people with dietary restrictions or preferences. Let us know via the <a href="/feedback">Feedback</a> page if you want us to include any new tags!</h5>
            </div>
        </div>
    </div>

    <h3 class="m-3">Happy Cooking!</h3>
    
    {% if userinfo == None %}
        <a role="button" href="/login" class="btn btn-primary btn-lg w-50">Log In or Sign Up Here!</a>
    {% endif %}
    <script>
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
    </script>
</div>

{% endblock %}