{% extends "base.html" %}
{% block title %} Login {% endblock %}
{% block head %} {{ super() }} {% endblock %}

{% block content %}

<div class="container min-vh-100 d-flex flex-column justify-content-center m-auto w-50">
    <div class="card text-center">
        <!-- choose login or register -->
        <div class="card-header">
            <ul class="nav nav-tabs nav-justified card-header-tabs" id="login-page-tab" role="tablist">
                <li class="nav-item" role="presentation">
                <button class="nav-link {% if pageType == 'login' %} active {% endif %}" id="home-tab" data-bs-toggle="tab" data-bs-target="#login-tab-pane" type="button" role="tab" aria-controls="login-tab-pane" aria-selected="true">Login</button>
                </li>
                <li class="nav-item" role="presentation">
                <button class="nav-link {% if pageType == 'register' %} active {% endif %}" id="profile-tab" data-bs-toggle="tab" data-bs-target="#register-tab-pane" type="button" role="tab" aria-controls="register-tab-pane" aria-selected="false">Register</button>
                </li>
            </ul>
        </div>

        <div class="card-body">
            <div class="tab-content" id="login-page-tab-content">
                <!-- log in -->
                <div class="container tab-pane {% if pageType == 'login' %} show active {% else %} fade {% endif %}" id="login-tab-pane" role="tabpanel" aria-labelledby="login-tab" tabindex="0">
                    <h3 class="m-4"> <b>Log in to Existing Account</b> </h3>
                    <p class="text-center">(sample login details: username="username", password="test")</p>
                    <form id="login-form m-4" method="post" role="form">
                        {{ loginForm.hidden_tag() }}
                        <div class="form-floating m-4">
                            {{ loginForm.username(class_="form-control" + (" is-invalid" if loginForm.username.errors else "")) }}
                            {{ loginForm.username.label }}
                            {% if loginForm.username.errors %}
                                {% for error in loginForm.username.errors %}
                                    <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="form-floating m-4">
                            {{ loginForm.password(class_="form-control" + (" is-invalid" if loginForm.password.errors else "")) }}
                            {{ loginForm.password.label }}
                            {% if loginForm.password.errors %}
                                {% for error in loginForm.password.errors %}
                                    <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    
                        {{ loginForm.login(class_="w-50 mb-4 btn btn-lg btn-primary") }}
                    </form>
                </div>

                <!-- register -->
                <div class="container tab-pane {% if pageType == 'register' %} show active {% else %} fade {% endif %}" id="register-tab-pane" role="tabpanel" aria-labelledby="register-tab" tabindex="0">
                    <h3 class="m-4"> <b>Register a New Account</b> </h3>
                    <form id="register-form m-4" method="post" role="form">
                        {{ registerForm.hidden_tag() }}
                        <div class="form-floating m-4">
                            {{ registerForm.reg_username(class_="form-control" + (" is-invalid" if registerForm.reg_username.errors else "")) }}
                            {{ registerForm.reg_username.label }}
                            {% if registerForm.reg_username.errors %}
                                {% for error in registerForm.reg_username.errors %}
                                    <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                            {% endif %}
                            <script>
                                document.getElementById('reg_username').removeAttribute('minlength')
                            </script>
                        </div>
                        <div class="form-floating m-4">
                            {{ registerForm.reg_password(class_="form-control" + (" is-invalid" if registerForm.reg_password.errors else "")) }}
                            {{ registerForm.reg_password.label }}
                            {% if registerForm.reg_password.errors %}
                                {% for error in registerForm.reg_password.errors %}
                                    <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                            {% endif %}
                            <script>
                                document.getElementById('reg_password').removeAttribute('minlength')
                                document.getElementById('reg_password').removeAttribute('maxlength')
                            </script>
                        </div>
                        <div class="form-floating m-4">
                            {{ registerForm.confirm_password(class_="form-control" + (" is-invalid" if registerForm.confirm_password.errors else "")) }}
                            {{ registerForm.confirm_password.label }}
                            {% if registerForm.confirm_password.errors %}
                                {% for error in registerForm.confirm_password.errors %}
                                    <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>

                        {{ registerForm.register(class_="w-50 mb-4 btn btn-lg btn-primary") }}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
