{% extends "base.html" %}
{% block title %} Recipe - {{recipeinfo['recipe_name']}} {% endblock %}
{% block head %} {{ super() }} {% endblock %}

{% block content %}

<div class="container-fluid w-100 min-vh-100 d-flex flex-column justify-content-center m-auto w-50">

    <div class="row m-5 justify-content-center">
        <div class="col-8">
            <!-- name -->
            <h2>
                {% if 'loggedin' in session %}
                    {{recipeinfo['recipe_name']}}
                    <button type="submit" class="btn btn-unfollow ms-2" onclick=toggleBookmark() id="toggle-unbookmark" {% if not user_bookmarked_recipe %} style="display:none" {% endif %}>Remove Bookmark <i class="bi bi-bookmark-star-fill ms-1"></i></button>
                    <button type="submit" class="btn btn-follow ms-2" onclick=toggleBookmark() id="toggle-bookmark" {% if user_bookmarked_recipe %} style="display:none" {% endif %}>Bookmark <i class="bi bi-bookmark-plus ms-1"></i></button>
                {% else %}
                    {{recipeinfo['recipe_name']}}
                {% endif %}
            </h2>
            <!-- description -->
            {% if recipeinfo['recipe_desc'] %}
            <p style="word-break:break-all">{{recipeinfo['recipe_desc']}}</p>
            {% endif %}
            <!-- image -->
            {% if recipeinfo['recipe_image'] %}
            <img src="{{recipeinfo['recipe_image']}}" class="w-75 mx-auto mb-2 d-block">
            {% endif %}

            <!-- ingredients -->
            <table class="table table-primary my-4">
                <thead class="table-dark">
                    <th> <b>Ingredient</b> </td>
                    <th> <b>Quantity</b> </td>
                </thead>
                <tbody>
                {% for ingredient in recipeinfo['ingredients'] %}
                <tr>
                    <td> {{ingredient['ingr_name']}} </td>
                    <td> {{ingredient['quantity']}} </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>

            <!-- instructions -->
            <ol class="list-group list-group-numbered">
                {% for instruction in recipeinfo['instructions'] %}
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">{{instruction['title']}}</div>
                        {% if instruction['subtitle'] %}
                        {{instruction['subtitle']}}
                        {% endif %}
                    </div>
                </li>
                {% endfor %}
            </ol>
        </div>
        <div class="col-4">
            <div class="accordion" id="recipe-accordion">
                {% if 'loggedin' in session and session['id'] == recipeinfo['creator_id'] %}
                <!-- edit or delete -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-zero">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-zero" aria-expanded="true" aria-controls="accordion-zero">
                            <strong>Creator Options</strong>
                            </button>
                        </h2>
                        <div id="accordion-zero" class="accordion-collapse collapse show" aria-labelledby="heading-zero">
                            <div class="accordion-body text-center">
                                <a role="button" class="btn btn-outline-dark m-1" href="{{url_for('editrecipe', recipe_id=recipeinfo['recipe_id'])}}">
                                    Edit Recipe
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                    </svg>
                                </a>
                                <button type="button" class="btn btn-danger m-1" data-bs-toggle="modal" data-bs-target="#delete-recipe-modal">
                                    Delete Recipe
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <!-- miscellaneous additional information -->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading-one">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-one" aria-expanded="true" aria-controls="accordion-one">
                        <strong>About This Recipe</strong>
                        </button>
                    </h2>
                    <div id="accordion-one" class="accordion-collapse collapse show" aria-labelledby="heading-one">
                        <div class="accordion-body">
                            <b>Created by:</b>
                            {% if recipeinfo['creator_id'] and recipeinfo['creator_id'] != 0 %}
                                <a href="{{url_for('profile', user_id=recipeinfo['creator_id'])}}">{{ recipeinfo['creator_username'] }}</a>
                                {% if 'loggedin' in session and session['id'] != recipeinfo['creator_id'] %}
                                    <button type="submit" class="btn btn-unfollow ms-2" onclick=toggleFollow() id="toggle-unfollow" {% if not user_is_following_creator %} style="display:none" {% endif %}>Unfollow <i class="bi bi-star-fill ms-1"></i></button>
                                    <button type="submit" class="btn btn-follow ms-2" onclick=toggleFollow() id="toggle-follow" {% if user_is_following_creator %} style="display:none" {% endif %}>Follow <i class="bi bi-star ms-1"></i></button>
                                {% endif %}
                            {% else %}
                                [Deleted User]
                            {% endif %}
                            <br>
                            <small class="text-muted">Date created: {{ recipeinfo['date_created'] }}</small>
                            <br>

                            <b>Estimated number of portions:</b> {{ recipeinfo['portions'] }}<br>
                            {% if recipeinfo['duration'] != None %}
                                <b>Cooking Duration:</b> {{ recipeinfo['duration'] }} hours<br>
                            {% endif %}
                            <br>
                            {% if recipeinfo['difficulty'] == 0 %}
                                <span class="badge bg-success rounded-pill" >
                                    Beginner
                                </span>
                            {% elif recipeinfo['difficulty'] == 1 %}
                                <span class="badge bg-warning rounded-pill text-dark">
                                    Intermediate
                                </span>
                            {% elif recipeinfo['difficulty'] == 2 %}
                                <span class="badge bg-danger rounded-pill">
                                    Advanced
                                </span>
                            {% else %}
                                <span class="badge bg-dark rounded-pill">
                                    Difficulty Unknown
                                </span>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!-- rating -->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading-two">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-two" aria-expanded="false" aria-controls="accordion-two">
                        <strong>Rating</strong>
                        </button>
                    </h2>
                    <div id="accordion-two" class="accordion-collapse collapse" aria-labelledby="heading-two">
                        <div class="accordion-body">

                            <h4>Rating: {% if not recipeinfo['rating'] %} N/A {% else %} {{'%0.2f' % recipeinfo['rating']}} {% endif %}</h4>
                            <small class="text-muted">Based on {{num_reviews}} reviews</small>
                            <canvas id="rating-canvas" style="box-sizing:border-box;" class="d-block mx-0 h-auto"></canvas>
                            <script>
                                const labels = [1.0, 2.0, 3.0, 4.0, 5.0];
                                const data = {
                                    labels: labels,
                                    datasets: [{
                                        axis: 'y',
                                        label: "Number of reviews",
                                        data: {{ recipe_ratings }},
                                        fill: false,
                                        backgroundColor: ['#47b28b','#47b28b','#47b28b','#47b28b','#47b28b'],
                                        borderColor: ['#3a9272','#3a9272','#3a9272','#3a9272','#3a9272'],
                                        borderWidth: 1
                                    }]
                                };
                                const config = {
                                    type: 'bar',
                                    data,
                                    options: {
                                        indexAxis: 'y',
                                        scales: {
                                            x: {
                                                beginAtZero: true
                                            }
                                        }
                                    }
                                };
                                var ratingChart = new Chart(document.querySelector("#rating-canvas"), config);
                            </script>
                            <hr>
                            {% if 'loggedin' in session %}
                            <b>Your rating:</b><br>
                            <form method="post" role="form" id="rating-form" class="d-flex align-items-center">
                                <input type="hidden" name="form_name" value="rating">
                                <div class="rate">
                                    <input type="radio" id="star5" name="ratings" value="5.0" {% if user_rating==5 %} checked {% endif %}>
                                    <label for="star5" title="text">5 stars</label>
                                    <input type="radio" id="star4" name="ratings" value="4.0" {% if user_rating==4 %} checked {% endif %}>
                                    <label for="star4" title="text">4 stars</label>
                                    <input type="radio" id="star3" name="ratings" value="3.0" {% if user_rating==3 %} checked {% endif %}>
                                    <label for="star3" title="text">3 stars</label>
                                    <input type="radio" id="star2" name="ratings" value="2.0" {% if user_rating==2 %} checked {% endif %}>
                                    <label for="star2" title="text">2 stars</label>
                                    <input type="radio" id="star1" name="ratings" value="1.0" {% if user_rating==1 %} checked {% endif %}>
                                    <label for="star1" title="text">1 star</label>
                                </div>
                                <button type="submit" class="btn btn-secondary ms-2">Submit Rating</button>
                            </form>
                            <form method="post" role="form" id="remove-rating-form" class="d-flex align-items-center">
                                <input type="hidden" name="form_name" value="remove_rating">
                                <button type="submit" class="btn btn-dark ms-2"><i class="bi bi-x-lg"></i> Remove Rating</button>
                            </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!-- tags -->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading-three">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-three" aria-expanded="false" aria-controls="accordion-three">
                        <strong>Tags</strong>
                        </button>
                    </h2>
                    <div id="accordion-three" class="accordion-collapse collapse" aria-labelledby="heading-three">
                        <div class="accordion-body">
                            {% if recipeinfo['cuisines'] and recipeinfo['cuisines']|length != 0 %}
                                <b>Cuisines:</b>
                                {% for cuisine in recipeinfo['cuisines'] %}
                                    <span class="badge bg-primary-subtle text-black rounded-pill" >
                                        {{cuisine['tag_name']}}
                                    </span>
                                {% endfor %}
                                <br>
                            {% endif %}
                            {% if recipeinfo['dietary'] and recipeinfo['dietary']|length != 0 %}
                                <b>Dietary Restrictions:</b>
                                {% for tag in recipeinfo['dietary'] %}
                                    <span class="badge bg-secondary-subtle text-black rounded-pill" >
                                        {{tag['tag_name']}}
                                    </span>
                                {% endfor %}
                                <br>
                            {% endif %}
                        </div>
                    </div>      
                </div>
            </div>
        </div>
    </div>

    <!-- deletion confirmation -->
    <div class="modal fade" id="delete-recipe-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Deleting Recipe</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete the recipe titled "{{recipeinfo.recipe_name}}"?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Cancel</button>
                    <form id="delete-recipe-form" method="post" role="form">
                        {{ form.csrf_token }}
                        {{ form.delete_recipe(class_="btn btn-danger") }}
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        followbtn = document.getElementById('toggle-follow');
        unfollowbtn = document.getElementById('toggle-unfollow');
        bookmarkbtn = document.getElementById('toggle-bookmark');
        unbookmarkbtn = document.getElementById('toggle-unbookmark');
        function toggleFollow(){
            params = {
                'target_id': {{recipeinfo['creator_id']}}
            }
            console.log(params)
            $.post('/recipe/togglefollowcreator',params).done((response) => {
                if (response.status !== 200){
                    alert(response.error)
                }else{
                    if (followbtn.style.display === "none") {
                        followbtn.style.display = "inline";
                        unfollowbtn.style.display = "none";
                    } else {
                        followbtn.style.display = "none";
                        unfollowbtn.style.display = "inline";
                    }
                }
            })
            //alert("toggled follow")
            //window.location.reload(true)
        }
        function toggleBookmark(){
            params = {
                'target_id': {{recipeinfo['recipe_id']}}
            }
            console.log(params)
            $.post('/recipe/togglebookmark',params).done((response) => {
                if (response.status !== 200){
                    alert(response.error)
                }else{
                    if (bookmarkbtn.style.display === "none") {
                        bookmarkbtn.style.display = "inline";
                        unbookmarkbtn.style.display = "none";
                    } else {
                        bookmarkbtn.style.display = "none";
                        unbookmarkbtn.style.display = "inline";
                    }
                }
            })
            //alert("toggled bookmark")
            //window.location.reload(true)
        }
    </script>
</div>

{% endblock %}
